<div class="school-container">
    <div class="title-school">
        <h2>Hogwarts</h2>
    </div>
    <div class="content-school">
        <img src="../../../../../assets/img/brasao-hogwarts.webp" alt="">
        <p>Escola de Magia e Bruxaria de Hogwarts conhecida simplesmente por Hogwarts, 
            é uma escola de magia (fictícia) para alunos entre os 11 e os 17 anos.
            É o palco principal da saga de livros Harry Potter (autoria de J. K. Rowling), 
            com exceção do último.
            O Castelo de Hogwarts está localizado na Escócia, num local desconhecido, 
            próximo da vila de Hogsmeade.
            Em Hogwarts, todos os alunos do primeiro são selecionados para uma de quatro casas, 
            sendo elas: Grifinória, Corvinal, Lufa-lufa e Sonserina.</p>
    </div>
</div>