<div class="content-container">
  <app-hogwarts />
  <div class="houses">
    <app-house img="../../../../../assets/img/gryffindor.png" title="Grifinória" founder="Godric Gryffindor"
      mascot="Leão" colors="Vermelho escarlate e dourado" ghost="Nick Quase-sem-cabeça"
      quality="Coragem, ousadia, determinação e fidelidade" />
    <app-house img="../../../../../assets/img/ravenclaw.png" title="Corvinal" founder="Rowena Ravenclaw" mascot="Águia"
      colors="Azul e bronze" ghost="Dama Cinzenta" quality="Inteligência, criatividade, perspicácia e prudência" />
    <app-house img="../../../../../assets/img/hufflepuff.png" title="Lufa-lufa" founder="Helga Hufflepuff"
      mascot="Texugo" colors="Amarelo e preto" ghost="Monge Gordo" quality="Lealdade, paciência, justiça e dedicação" />
    <app-house img="../../../../../assets/img/slytherin.png" title="Sonserina" founder="Salazar Slytherin"
      mascot="Serpente" colors="Verde e prateado" ghost="Barão sangrento"
      quality="Ambição, astúcia, liderança e individualismo." />
  </div>
</div>