<div class="houses-container">
    <div class="title-house">
        <img src="{{ img }}" height="100px" alt="">
        <h3>{{ title }}</h3>
    </div>
    <div class="content-house">
        <div class="default-house">
            <p>Fundador: {{ founder }}</p>
        </div>
        <div class="default-house">
            <p>Mascote: {{ mascot }}</p>
        </div>
        <div class="default-house">
            <p>Cores: {{ colors }}</p>
        </div>
        <div class="default-house">
            <p>Fantasma: {{ ghost }}</p>
        </div>
        <div class="default-house">
            <p>Qualidades: {{ quality }}</p>
        </div>
    </div>
</div>