* {
    background-color: #535353;
    color: #000;
    border-radius: 20px;
}

.houses-container {
    text-align: center;
    width: 220px;
    min-height: 350px;
}

.title-house img {
    margin-top: 15px;
}

.content-house {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.default-house {
    padding: 10px 10px 0 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}